<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-ref>
        <description>Pool de conexao tomcat</description>
        <res-ref-name>jdbc/projetoBanca</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>Gerencia_aluno</servlet-name>
        <servlet-class>Servlets.Gerencia_aluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerencia_areaPesquisa</servlet-name>
        <servlet-class>Servlets.Gerencia_areaPesquisa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gerencia_projeto</servlet-name>
        <servlet-class>Servlets.Gerencia_projeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incluir_projeto</servlet-name>
        <servlet-class>Servlets.Gerenciador_Projeto.Incluir_projeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TesteGets</servlet-name>
        <servlet-class>Servlets.TesteGets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alterar_projeto</servlet-name>
        <servlet-class>Servlets.Gerenciador_Projeto.Alterar_projeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir_projeto</servlet-name>
        <servlet-class>Servlets.Gerenciador_Projeto.Excluir_projeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incluir_banca</servlet-name>
        <servlet-class>Servlets.Gerenciador_Banca.Incluir_banca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alterar_banca</servlet-name>
        <servlet-class>Servlets.Gerenciador_Banca.Alterar_banca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir_banca</servlet-name>
        <servlet-class>Servlets.Gerenciador_Banca.Excluir_banca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incluir_aluno</servlet-name>
        <servlet-class>Servlets.Gerenciador_Aluno.Incluir_aluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alterar_aluno</servlet-name>
        <servlet-class>Servlets.Gerenciador_Aluno.Alterar_aluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir_aluno</servlet-name>
        <servlet-class>Servlets.Gerenciador_Aluno.Excluir_aluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incluir_curso</servlet-name>
        <servlet-class>Servlets.Gerenciador_Curso.Incluir_curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alterar_curso</servlet-name>
        <servlet-class>Servlets.Gerenciador_Curso.Alterar_curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir_curso</servlet-name>
        <servlet-class>Servlets.Gerenciador_Curso.Excluir_curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incluir_tipoprojeto</servlet-name>
        <servlet-class>Servlets.Gerenciador_TipoProjeto.Incluir_tipoprojeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alterar_tipoProjeto</servlet-name>
        <servlet-class>Servlets.Gerenciador_TipoProjeto.Alterar_tipoProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir_tipoProjeto</servlet-name>
        <servlet-class>Servlets.Gerenciador_TipoProjeto.Excluir_tipoProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incluir_situacao</servlet-name>
        <servlet-class>Servlets.Gerenciador_Situacao.Incluir_situacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alterar_situacao</servlet-name>
        <servlet-class>Servlets.Gerenciador_Situacao.Alterar_situacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir_situacao</servlet-name>
        <servlet-class>Servlets.Gerenciador_Situacao.Excluir_situacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incluir_professor</servlet-name>
        <servlet-class>Servlets.Gerenciador_Professor.Incluir_professor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alterar_professor</servlet-name>
        <servlet-class>Servlets.Gerenciador_Professor.Alterar_professor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir_professor</servlet-name>
        <servlet-class>Servlets.Gerenciador_Professor.Excluir_professor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incluir_avaliacao</servlet-name>
        <servlet-class>Servlets.Gerenciador_Avaliacao.Incluir_avaliacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alterar_avaliacao</servlet-name>
        <servlet-class>Servlets.Gerenciador_Avaliacao.Alterar_avaliacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir_avaliacao</servlet-name>
        <servlet-class>Servlets.Gerenciador_Avaliacao.Excluir_avaliacao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Gerencia_aluno</servlet-name>
        <url-pattern>/Gerencia_aluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerencia_areaPesquisa</servlet-name>
        <url-pattern>/Gerencia_areaPesquisa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gerencia_projeto</servlet-name>
        <url-pattern>/Gerencia_projeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incluir_projeto</servlet-name>
        <url-pattern>/Incluir_projeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TesteGets</servlet-name>
        <url-pattern>/TesteGets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alterar_projeto</servlet-name>
        <url-pattern>/Alterar_projeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir_projeto</servlet-name>
        <url-pattern>/Excluir_projeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incluir_banca</servlet-name>
        <url-pattern>/Incluir_banca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alterar_banca</servlet-name>
        <url-pattern>/Alterar_banca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir_banca</servlet-name>
        <url-pattern>/Excluir_banca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incluir_aluno</servlet-name>
        <url-pattern>/Incluir_aluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alterar_aluno</servlet-name>
        <url-pattern>/Alterar_aluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir_aluno</servlet-name>
        <url-pattern>/Excluir_aluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incluir_curso</servlet-name>
        <url-pattern>/Incluir_curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alterar_curso</servlet-name>
        <url-pattern>/Alterar_curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir_curso</servlet-name>
        <url-pattern>/Excluir_curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incluir_tipoprojeto</servlet-name>
        <url-pattern>/Incluir_tipoprojeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alterar_tipoProjeto</servlet-name>
        <url-pattern>/Alterar_tipoProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir_tipoProjeto</servlet-name>
        <url-pattern>/Excluir_tipoProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incluir_situacao</servlet-name>
        <url-pattern>/Incluir_situacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alterar_situacao</servlet-name>
        <url-pattern>/Alterar_situacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir_situacao</servlet-name>
        <url-pattern>/Excluir_situacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incluir_professor</servlet-name>
        <url-pattern>/Incluir_professor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alterar_professor</servlet-name>
        <url-pattern>/Alterar_professor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir_professor</servlet-name>
        <url-pattern>/Excluir_professor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incluir_avaliacao</servlet-name>
        <url-pattern>/Incluir_avaliacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alterar_avaliacao</servlet-name>
        <url-pattern>/Alterar_avaliacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir_avaliacao</servlet-name>
        <url-pattern>/Excluir_avaliacao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
